# --- Pastas de Build e Distribuição ---
# Geradas pelo PyInstaller e Inno Setup
build/
dist/
setup/

# --- Arquivos gerados pelo PyInstaller ---
*.spec

# --- Python ---
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Ambientes virtuais (se você usa venv ou .venv)
venv/
.venv/
env/
ENV/

# --- Configurações de Editores/IDEs ---
.vscode/
.idea/

# --- Arquivos do Sistema ---
# Windows
Thumbs.db
desktop.ini
# macOS
.DS_Store

# --- Temporários do Projeto ---
# Caso queira ignorar logs de erro ou arquivos de texto de teste
*.log